<%= simple_form_for(review, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body, as: :text, input_html: { class: "summernote" } %>
    <%= f.input :content_title %>
    <%= f.input :content_episode %>
    <%= f.input :level, collection: Review::LEVEL, prompt: "공개 범위를 설정해주세요." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
