<h1>감상글</h1>
<br/>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>대상</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.content_title %> - <%= review.content_episode %></td>
        <td><%= link_to review.title, review %></td>
        <td><%= review.user.username %></td>
        <td><%= review.display_created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Review", new_review_path, class: "btn btn-primary", role: "button" %>
