<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Content title:</strong>
  <%= @review.content_title %>
</p>

<p>
  <strong>Content episode:</strong>
  <%= @review.content_episode %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.username %>
</p>

<p>
  <strong>Level:</strong>
  <%= @review.level %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
