<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Rescape</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/navbar" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <% if notice %>
      <div id="notice" class="alert alert-info"><%= notice %></div>
      <% end %>
    </div>
    <div class="col-sm-offset-1 col-sm-10">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
